<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<title>My Closet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container">
          <h1 class="logo" >MY CLOSET</h1>
		<!-- this is a comment in HTML -->
		<div class="container">
			<div class="formatcenter">
				<a href="login.html" class="btn btncolor">LOGIN</a>
			</div>
	   </div>
        <div class="container">
      <div class="formatcenter">
        <a href="signup.html" class="btn btncolor">SIGN UP</a>
      </div>
     </div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

      <div class="bottomfixed">


      <footer class="paddings">
        <p style>&copy; Teleportation</p>
      </footer>
    </div> <!-- /container -->
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
